.btn-success {
	margin-top: 1rem;
	font-family: 'Indie Flower', 'Georgia', 'Times New Roman', serif;

	&.carousel {
		background: transparentize($snow-white, 0.3);
		color: $sos-red; 
		border: 3px solid $sos-red;
		font-size: 2em;
	}

	&.dogs, &.search {
		background: $dark-red;
		color: $snow-white;
		border: none;
		font-size: 1.2em;

		&:hover {
			color: $snow-white;
		}
	} 

	&.contact {
		background: $snow-white;
		border: 3px solid $sos-red;
		color: $sos-red; 
		font-size: 1.5em;

	}

	&.front-news, &.cat {
		background: $dark-red;
		color: $snow-white;
		border: none;
		width: 15em;
		font-size: 1.2em;
	}
}

#searchsubmit {
	background: $dark-red;
	border: 2px solid $dark-red;
	color: $snow-white; 
	font-family: 'Sanchez', 'Georgia', 'Times New Roman', serif;
}