@import url("https://fonts.googleapis.com/css?family=Sanchez|Indie+Flower|Lato");
/* body, heading 4, widget-text font */
p, h4, .textwidget, input {
  font-family: 'Lato', 'Roboto', 'Droid', 'Open Sans', 'Arial', sans-serif; }

p {
  line-height: 175%; }

/* link and label p (contact form) font */
a.nav-link, .dropdown-menu > li > a, a, p > label {
  font-family: 'Sanchez', 'Georgia', 'Times New Roman', serif; }

/* heading 1,2,3 font */
h1, h2, h3 {
  font-family: 'Indie Flower', 'Georgia', 'Times New Roman', serif;
  color: #000000; }

article.category, article.category .the-excerpt, article.category img, footer .widget-title, footer img {
  margin-top: 1rem;
  margin-bottom: 1rem; }

/* Alignment */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto; }

/* Images and wp-captions should always fit and be responsive */
img {
  display: inline-block;
  height: auto;
  max-width: 100%; }

img[class*="wp-image-"] {
  margin-top: 10px;
  margin-bottom: 10px; }

.wp-caption {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  max-width: 100%;
  border-radius: 4px;
  padding: 0 10px; }

.wp-caption.aligncenter {
  margin-bottom: 10px; }

.wp-caption img[class*="wp-image-"] {
  display: block; }

.wp-caption .wp-caption-text {
  text-align: center;
  margin-top: 10px; }

/* WP Gallery */
.gallery {
  margin-bottom: 1.5em; }

.gallery a img {
  border: none;
  height: auto;
  max-width: 90%; }

.gallery dd {
  margin: 0; }

.gallery-caption {
  display: block; }

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%; }

/* Content */
.main-content-inner {
  padding-bottom: 1.5em; }

.hentry {
  margin: 0 0 1.5em; }

.sticky {
  display: block; }

.bypostauthor {
  display: block; }

/* Clearing */
.clear {
  clear: both; }

/* Here some needed widget styles
* Most widgets are adapted in the file bootstrap-wp.js - and REALLY easy to modify! ;) */
.widget {
  margin-bottom: 2em; }

.widget_nav_menu ul.sub-menu li, .widget_pages ul.children li {
  padding-left: 15px; }

/* Hiding the search widget's button in widgets. thats just too old-skool. :) but if you want it back, just delete the next line.
* Note: you can change the whole appearance of the search_form() function in our searchform.php */
.widget_search .search-form input[type="submit"] {
  display: none; }

/* Make sure select elements fit in widgets */
.widget select {
  max-width: 100%; }

/* Nested comments? They are threaded and nested already, you just need to add your own styling to finalize!
* For example with some margin, like the line below ;) Delete, modify, change classes in HTML if you desire another style */
.comment .children {
  margin-left: 1.5em; }

/**
* Some WP Theme Repository requirements
*/
.entry-meta {
  clear: both; }

/* 	create space under navbar, except on front page and hundar-category */
body {
  margin-top: 8em; }
  body.home, body.category-hundar {
    margin-top: 0; }

.navbar {
  background: #FF0000 !important;
  /* prevent admin bar to stay on top of sticky header */
  position: fixed;
  top: 0;
  /* include mixin */ }
  .admin-bar .navbar {
    top: 46px; }
    @media screen and (min-width: 783px) {
      .admin-bar .navbar {
        top: 32px; } }

/* main menu links */
.navbar-inverse .navbar-nav {
  padding-right: 5rem; }
  .navbar-inverse .navbar-nav .current-menu-item a.nav-link, .navbar-inverse .navbar-nav .current-page-parent a.nav-link.dropdown-toggle {
    color: #000000;
    text-decoration: underline; }
  .navbar-inverse .navbar-nav a.nav-link {
    color: #ffffff; }
    .navbar-inverse .navbar-nav a.nav-link:hover {
      color: #000000; }

/* drop-down in main menu */
ul.dropdown-menu {
  background: #FF0000;
  border: none; }
  ul.dropdown-menu > li > a {
    color: #ffffff;
    border: none; }
    ul.dropdown-menu > li > a:hover {
      background: #FF0000; }

/* add space between articles */
article.category {
  /* add space to excerpt and img */ }
  article.category .the-title {
    font-size: 1.75rem; }
  article.category p {
    color: #3A3A3A; }

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 1200px) {
  article.category .the-excerpt, article.category .the-meta, article.category .the-title {
    display: inline;
    float: left;
    margin-right: 1.5em; }
  article.category .the-title {
    margin-top: 1rem; } }

.news-sidebar li > a {
  text-decoration: none;
  color: #a50000;
  font-size: 1rem; }

.news-sidebar h2 {
  margin-bottom: 2rem; }

footer {
  padding-top: 2rem;
  padding-bottom: 2rem; }
  footer p {
    margin-bottom: .25rem; }
  footer.site-footer {
    background: #FF0000;
    /* even if footer has no content it should display some space */
    min-height: 60px;
    /* create some space above footer and below content */
    margin-top: 50px; }
  footer .widget-title, footer .textwidget {
    color: #ffffff; }
  footer .second .widget-title {
    text-align: center; }
  footer img:nth-child(1) {
    margin-right: 0.5em; }

@media (max-width: 770px) {
  div.second {
    margin-bottom: 1rem;
    margin-top: 1rem; } }

.input-group {
  margin-bottom: 3rem; }
  .input-group > .form-control {
    border: 2px solid #a50000; }

.search-results h1, .search-results img {
  margin-bottom: 1rem; }

.btn-success {
  margin-top: 1rem;
  font-family: 'Indie Flower', 'Georgia', 'Times New Roman', serif; }
  .btn-success.carousel {
    background: rgba(255, 255, 255, 0.7);
    color: #FF0000;
    border: 3px solid #FF0000;
    font-size: 2em; }
  .btn-success.dogs, .btn-success.search {
    background: #a50000;
    color: #ffffff;
    border: none;
    font-size: 1.2em; }
    .btn-success.dogs:hover, .btn-success.search:hover {
      color: #ffffff; }
  .btn-success.contact {
    background: #ffffff;
    border: 3px solid #FF0000;
    color: #FF0000;
    font-size: 1.5em; }
  .btn-success.front-news, .btn-success.cat {
    background: #a50000;
    color: #ffffff;
    border: none;
    font-size: 1.2em; }

/* search button + submit button contact form */
#searchsubmit, .wpcf7-submit {
  background: #a50000;
  border: 2px solid #a50000;
  color: #ffffff;
  font-family: 'Sanchez', 'Georgia', 'Times New Roman', serif; }

.wpcf7-submit {
  padding: 5px 20px 5px 20px;
  border-radius: 4px; }

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
  color: #5a5a5a; }

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
  margin-bottom: 4rem; }

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  bottom: 3rem; }

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777; }

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  max-width: 100%;
  height: 60rem; }

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4; } }

@media (max-width: 1150px) {
  .carousel-item > img {
    height: 50rem; } }

@media (max-width: 900px) {
  .carousel-item > img {
    height: 40rem; } }

@media (max-width: 720px) {
  .carousel {
    display: none; } }

form p > label {
  color: #a50000; }

.home h1.the-title {
  text-align: center; }

.home div.news-post {
  margin-top: 2rem;
  margin-bottom: 2rem; }

/* add space under navbar when carousel isn't displayed */
@media (max-width: 720px) {
  body.home {
    margin-top: 100px; } }

/* CUSTOMIZE THE "HUNDAR"-CATEGORY
-------------------------------------------------- */
body {
  min-height: 75rem;
  /* Can be removed; just added for demo purposes */ }

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
  max-height: 20rem; }

.jumbotron p:last-child {
  margin-bottom: 0; }

.jumbotron-heading {
  font-weight: 300; }

.jumbotron .container {
  max-width: 40rem; }

.album {
  min-height: 50rem;
  /* Can be removed; just added for demo purposes */
  padding-top: 3rem; }

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0; }
  .card h4 > a, .card a:hover {
    text-decoration: none;
    color: #000000; }

.card > img {
  margin-bottom: .75rem; }

.card-text {
  font-size: 85%;
  font-family: 'Lato', 'Roboto', 'Droid', 'Open Sans', 'Arial', sans-serif; }

@media (max-width: 770px) {
  .jumbotron {
    margin-bottom: 2rem; }
  .card {
    display: inline;
    float: left;
    margin-right: 1.5em; }
  body > section > div > p.lead.text-muted {
    font-size: 1rem; }
  .btn.btn-success.dogs {
    display: none; } }

.single img {
  margin-bottom: 1rem; }

.single h3 {
  margin-top: 2rem; }

.single h1 {
  margin-bottom: 1.5rem; }

@media (max-width: 1000px) {
  .single img {
    margin-bottom: 2rem; } }
