/* add space between articles */
article.category {
	
	@extend %give-me-space;
	/* add space to excerpt and img */
	.the-excerpt, img {
		@extend %give-me-space;
	}

	.the-title {
		font-size: 1.75rem;
	} 

	p {
		color: $dark-grey;
	}
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 1200px) {
	article.category {
		.the-excerpt, .the-meta, .the-title {
			display: inline;
			float: left;
			margin-right: 1.5em;
		}

		.the-title {
			margin-top: 1rem;
		}
	}
}